@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --background: #B08FF9;
    --section: #231459;
    --input: #CBB7F8;
    --font: 'Amaranth', sans-serif;

}


.header{
    width: 100%;
    height: 100px;
    background-color: var(--background);
}

body{
    background-color: var(--background);
    height: 100%;

}

.ListaDesejos{
    display: flex;
    background-color: var(--section);
    width: 80%;
    height: 80vh;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow:#3E206D  0.5em -0.5em 0.5em 0.5em;

}

.box{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 180px;
    background-color: var(--input);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.boxes{
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    display: grid;
    width: 300px;
    height: 100px;

}
/* .boxemaior{
  
  display: grid;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1000px;
  height: 80vh;
} */

.title{
    color: var(--background);
    font-family: var(--font);
    font-size: 30px;
}

.texto{
    color: var(--section);
    font-family: var(--font);
}

.CadastroDesejos{
    display: flex;
    float: right;
    background-color: var(--section);
    width: 80%;
    height: 55vh;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow:  -1em 1em 0.5em 0.2em #3E206D;
}

.form{
    display: flex;
    flex-direction: column;
    height: 20vh;
    
}

.input{
    padding:10px 160px;
    margin: 10px 0px;
    border-radius: 15px;
    background-color: var(--input);
    font-family: var(--font);
    color: var(--section);
}

.btn{
    padding: 7px 40px;
    border-radius: 15px;
    border: 2px solid var(--background);
    color:var(--background);
    font-family: var(--font);
    background-color:var(--section);
    cursor: pointer;
}

.btn:hover{
    border: 2px solid var(--section);
    background-color:var(--background);
    color:var(--section);
}
